@charset 'utf-8';

// color
$color-text: #000000;
$color-link: #3472FF;
$color-primary: #6EBDCC;
$color-gray: #F5F5F5;
$color-pink: #FF978B;

body {
    color: $color-text;
    font-feature-settings: "palt";

    a {
        color: $color-link;
        text-decoration: none;
        display: inline-block;

        &:hover {
            color: $color-link;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

html {
  // 比率は白銀比①(1.414) 基準文字サイズは10px
    font-size: 10px;
}

.ratio-s {
    // 文字サイズ＝基準文字サイズ*比率
    font-size: 1.414rem;
    padding: 0.7em;
    margin: 1.414em 0;
}

.ratio-m {
    //文字サイズ＝基準文字サイズ*比率^2
    font-size: 2rem;
    padding: 0.7em;
    margin: 1.414em 0;
}

.ratio-l {
    // 文字サイズ＝基準文字サイズ*比率^3
    font-size: 2.828rem;
    padding: 0.7em;
    margin: 1.414em 0;
}


// layout
$width: 940px;

// text from well-being
$base-fs:16px;

//18px
$title-fs : 1.125rem;
$title-lh : 1.6em;

//14px
$content-fs: .875rem;
$content-lh: 1.7em;

//16.5px
$tag-fs :.6875rem;
$tag-lh: 1.5em;

// font size
// for PC
$fs-ll: 30px;
$fs-l: 21px;
$fs-m: 18px;
$fs-s: 14px;
$fs-xs: 11px;

// for SP
$fs-ll-sp: 12vw;
$fs-l-sp: 10vw;
$fs-m-sp: 7vw;
$fs-s-sp: 5vw;
$fs-xs-sp: 3.6vw;