- var title = "PUG TITLE";

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="css/style.css")
    title Pugテスト
  body
    include _include/_header.pug

    include _include/_main.pug

    footer.footer
      small copyright