<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <% var myParam = 'Hello! EJS!'; %>
    <% include partials/_header %>
    <div>
        <%= myParam %>
    </div>
    <%# これは残りません %>
    <!-- これは残ります -->
    <%- include('components/_card', {title:'OKR',content:'object key result'}) %>
    <%# ループ %>
    <% for (var i = 0; i < 5; i++) { %>
    <p>このループは
        <%= i+1 %>回目です。</p>
    <% } %>
    参考 : https://qiita.com/y_hokkey/items/31f1daa6cecb5f4ea4c9
    <% include partials/_footer %>
</body>

</html>